@font-face{
    font-family:vazir-medium ;
    src: url("./fonts/Vazir-Medium.eot") format("eot"),
    url("./fonts/Vazir-Medium.woff") format("woff"),
    url("./fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  *,
  body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: vazir-medium;
  }
  
  body{
      direction: rtl;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }



  
  body{
    position: relative;
  }
  .wrapper{
    width: 100%;
    height: 100vh;
    background-color: #1d1313;
    position: absolute;
    overflow: hidden;
  }
  .wrapper .course-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 100px;
    font-size: 34px;
    color: #fff;
  }
  .wrapper span.menu {
      z-index: 99;
      position: absolute;
      top: 20px;
      left: 10px;
      width: 35px;
      height: 4px;
      background-color: #fff;
      cursor: pointer;
  }
  .wrapper span.menu::before{
      content: '';
      display: block;
      z-index: 99;
      position: absolute;
      top: -8px;
      left: 0px;
      width: 35px;
      height: 4px;
      background-color: #fff;
      cursor: pointer;
  }
  .wrapper span.menu::after{
      content: '';
      display: block;
      z-index: 99;
      position: absolute;
      bottom: -8px;
      left: 0px;
      width: 35px;
      height: 4px;
      background-color: #fff;
      cursor: pointer;
  }
  .wrapper div.title{
    color: #30c4c9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wrapper div.overlay{
      background-color: #ff6b81;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -99%;
      transition: all .5s ease;
  }
  .wrapper div.overlay ul{
      width: 100%;
      text-align: center;
      margin-top: 335px;
      padding-left: 0;
      margin-left: -10px;
      font-size: 18px;
  }
  .wrapper div.overlay ul li{
      margin: 20px 0;
  }
  .wrapper div.overlay ul li a{
      color: #fff;
      position: relative;
      display: inline-block;
      overflow: hidden;
  }
  .wrapper div.overlay ul li a::after{
      content: '';
      height: 5px;
      display: block;
      border-radius: 2px;
      left: 0;
      bottom: -10px;
      background-color: #fff;
      transform: translateX(-100%);
  }
  .wrapper div.overlay ul li a:hover::after{
      animation: border-anim .5s ease normal;
     
  }
  @keyframes border-anim {
      0%{
          transform: translateX(-100);
      }
      100%{
          transform: translateX(0);
      }
  }
  .anim{
      left: 0;
      bottom: -99%;
      width: 100%;
      transition: all .5s ease;
      animation: menu-anim 1.5s ease-out forwards;
  }
  @keyframes menu-anim {
      0%{
          left: 0;
          bottom: -99%;
          width: 100%;
      }
      25%{
          left: -99%;
          bottom: -99%;
          width: 100%;
      }
      75%{
          left: -99%;
          bottom: 0;
          width: 100%;
      }
      100%{
          left: 0%;
          bottom: 0;
          width: 25%;
      }

  }
